/***************
GENERAL
***************/

header {
    background-color: #333;
    padding: 8px;
}

body {
    background-color: #EFEFEF;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

nav ul li {
    display: inline-block;
    list-style: none;
}

nav a {
    font-size: 1.5em;
    color: #EEE;
    padding: 12px;
}

nav a:hover {
    color: #5D96B0;
}

section {
    margin: 3%;
}

a {
    text-decoration: none;
    color: #000;
}

h1, h5 {
    margin-bottom: 0.3em;
    margin-top: 1em;
}

p {
    margin-top: 6px;
}

textarea {
    font-family: 'Lato', sans-serif;
}

footer {
    margin: 3%;
}



/***************
CLASS STUFF
***************/

.active {
    font-weight: 700;
}

.btn {
    background-color: #FFF;
    color: #111;
    text-decoration: none;
    border: 1px solid;
    padding: 4px;
    margin-top: 2px;
}

.btn:active {
    background-color: #EEE;
    color: #000;
}

.btn:hover {
    color: #5D96B0;
}

.titleDivider {
    width: 200px;
    float: left;
    margin: 0;
}

.headingLink {
    font-weight: 400;
}

.headingLink:hover {
    color: #5D96B0;
}

.createForm {
    display: none;
}

.editForm {
    display: none;
}
