<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>James Warren | Learning Journal</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href="/static/style.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <header>
      <nav>
        <ul>
          <li class="active"><a href="/">Home</a></li>
            {% if not request.authenticated_userid %}
          <li><a href="{{ request.route_url('login') }}">Log In</a></li>
            {% else %}
          <li><a href="{{ request.route_url('logout') }}">Log Out</a></li>
            {% endif %}
        </ul>
      </nav>
    </header>
    <main>
      <section>

      {% block body %}{% endblock %}
      
      </section>
    </main>
    <footer>
      <p><small>James Warren's Learning Journal</small></p>
    </footer>
  </body>
</html>