{% extends "base.jinja2" %}

{% block body %}

<article id="title={{ entry.id }}">
  <h1 class="headingLink">{{ entry.title }}</h1>
  <p><small>{{ entry.created.strftime('%b. %d, %Y') }}</small>
  <div>
    {{ entry.text|markdown|safe }}
    </br>
    {% if request.authenticated_userid %}
      <a href="/edit/{{ entry.id }}" class="btn">Edit Post</a></br>
    {% endif %}
    </br>
    <hr class="titleDivider">
  </div>
</article>

{% endblock %}