{% extends "base.jinja2" %}

{% block body %}

<div class="detailForm">
  <article id="{{ entry.id }}">
    <h1 class="headingLink">{{ entry.title }}</h1>
    <p><small>{{ entry.created.strftime('%b. %d, %Y') }}</small></p>
    <div>
      {{ entry.text|markdown|safe }}
      </br>
        {% if request.authenticated_userid %}
          <button id="editBtn" class="btn">Edit Post</button>
          </br>
        {% endif %}
      </br>
      <hr class="titleDivider">
    </div>
  </article>
</div>

{% if request.authenticated_userid %}
<div class="editForm">
  <div>
    <label for="title">Title</label></br>
    <input type="text" size="30" name="title" id="title" value="{{ entry.title }}"/>
  </div>
  <div>
    <label for="text">Text</label></br>
    <textarea name="text" id="text" rows="5" cols="80">{{ entry.text }}</textarea>
  </div>
  <div>
    <input id="submitBtn" class="btn" type="submit" value="Share" name="Share"/>
  </div>
  <button id="cancelBtn" class="btn">Cancel</button>
</div>
{% endif %}

{% endblock %}
